pip install flask
pip install librosa
pip install praat-parselmouth
pip install pydub
pip install noisereduce
pip install fastdtw
pip install click
pip install gunicorn

brew install ffmpeg
brew install julius