
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>確認画面</title>
  </head>
  <body>
    <p>理想の音声</p>
    <p>アライメントの結果は{{result1}}です</p>
    <p>音声の開始時刻は{{start1}}で終了時刻は{{end1}}です</p>
    <p>音素列は{{phoneme1}}</p>
    <p>音素の開始時刻は{{phoneme_start1}}です</p>
    <p>モーラは{{mora1}}</p>
    <p>モーラの開始時刻は{{mora_start1}}です</p>
    <p>全体に対する割合は{{phoneme_pct1}}です</p>

    <p>学習者</p>
    <p>アライメントの結果は{{result2}}です</p>
    <p>音声の開始時刻は{{start2}}で終了時刻は{{end2}}です</p>
    <p>音素列は{{phoneme2}}</p>
    <p>音素の開始時刻は{{phoneme_start2}}です</p>
    <p>モーラは{{mora2}}</p>
    <p>モーラの開始時刻は{{mora_start2}}です</p>
    <p>全体に対する割合は{{phoneme_pct2}}です</p>
  </body>
</html>